.hidden {
  visibility: hidden;
}

#app div {
  width: 100%;
}

td .tooltip {
  display: none;
}

td:hover .short_title {
  display: none;
}

td:hover .tooltip {
  display: inline;
  position: absolute;
  border: 1px solid black;
  background: white;
}