.hidden {
  visibility: hidden;
}

#search_wrapper {
  width: 50%;
  margin: 0 auto;
}

#search_wrapper #input_bar {
  width: 80%;
}

td {
  display: relative;
}

td .tooltip {
  display: none;
}

td:hover .short_title {
  visibility: none;
}

td:hover .tooltip {
  display: block;
  position: absolute;
  border: 1px solid black;
  background: white;
}